<div class="mx-auto">
  <div class="rounded-md drop-shadow bg-white p-10">
  <h1 class="text-lg font-bold text-4xl">New message</h1>

  <%= render "form", message: @message %>

  <%= link_to 'Cancel', topics_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
