<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="h1-main">Inbox</h1>
    <%= link_to 'New message', new_message_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="topics" class="min-w-full">
    <%= turbo_stream_from :topics %>
    <%= turbo_frame_tag :topics , target: '_top' do %>
      <%= render @topics %>
    <% end %>
  </div>
</div>
